* {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
}

body {
    background-image: url("cupcake.jpg");
    background-size: 100% 500px;
    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 1rem;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

.logo {
    font-size: 2rem;
    color: #69c2bf;
    font-weight: 500;
}

.color {
    color: #efb3ab;
}

.link {
    padding: 10px 35px;
    text-decoration: none;
    color: black;
    transform: color 0.1s linear;
}

.link:hover{
color: lightcoral;
text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 170px;
}

.shipping {
    padding: 20px;
}

.btnOne {
    background-color: #f5a849;
    padding: 30px;
    border: none;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

.btnTwo {
background-color: #efb3ab;
padding: 30px;
border: white;
text-transform: uppercase;
margin: 5px;
margin-top: 20px;
box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

.btnThree {
    background-color: #dcd805;
    padding: 30px;
    border: white;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

.btnFour {
    background-color: #69c2bf;
    padding: 30px;
    border: white;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}

.btnFive {
    background-color: #90ad33;
    padding: 30px;
    border: white;
    text-transform: uppercase;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.2);
}


.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}